.card {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	padding: 10px;
	margin: 10px;
	align-items: center;
	box-shadow: 2px 2px 3px rgb(0,0,0,0.2);
	border-radius: 4px;
	flex-grow : 1;
}


.card h3{
	padding-left: 15px;
	font-weight: 400;
}